<div class="container-fluid topheader">
  <div class="row no-gutter sectionheaderinner col-container">
    <div class="col-1-1 topheaderrow">
      <div class="colwrapper">
        <div class="row no-gutter sectionheaderinner col-container">
          <div class="col headercol1">
            <img src="assets/images/artistheaderlogo.png" alt="headerlogo">
          </div>
          <div class="col headercol2">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#aemyNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Menu</a>
                </div>
                <div class="collapse navbar-collapse tablenav" id="aemyNavbar">
                  <ul class="nav navbar-nav artistxphul">
                    <li class="homeli"><a [routerLink]="['/']">Home</a></li>
                    <li class="aboutli"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">About the Deadline</a></li>
                    <li class="nextdeadli"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">Next Deadline</a></li>
                    <li class="ticketli"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">Tickets</a></li>
                    <li class="artistexli"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">Artist Exchange</a></li>
                    <li class="communityli"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">Communities</a></li>
                    <li class="trartistli"><a [routerLink]="['/trending-artist']">Artist Search</a></li>
                    <li class="trmediali"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">Trending Media</a></li>
                    <li class="signupli"><a [routerLink]="['/signup']">Sign up</a></li>
                    <li class="commpli"><a [routerLink]="['/competition/']">Competitions</a></li>
                    <li class="contactli"><a style="cursor: pointer;" (click)="showPopup(headertemplate)">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col headercol3">
            <ul class="list-inline">
              <li><a style="cursor: pointer;" (click)="showPopup(headertemplate)"><span>Log In</span></a></li>
              <li>
                <div class="socialmediaicons socialmediaicons2">
                  <a href="javascript:void(0)" class="fa fa-twitter"></a>
                  <a href="javascript:void(0)" class="fa fa-facebook"></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #headertemplate>
  <div class="modal-body text-center signupeamilbody">

    <button type="button" class="close" (click)="closep()">&times;</button>
    <img src="../../assets/images/artistheaderlogo.png" alt="logo">
    <p><span>We are currently in Pre-Launch and will be turning on the full power of ArtistXP.com on November 26th, 2018!<br><br>You can sign up now to get your profile the minute we go live.<a style="cursor: pointer;" (click)="gotoSignUp()">Sign up Now!</a></span></p>

  </div>
</ng-template>
