<!--
<img src="../../assets/images/competitionblock1.jpg" style="width: 100%; vertical-align: middle; padding: 0; margin: 0;">
<img src="../../assets/images/competitionblock2.jpg" style="width: 100%; vertical-align: middle; padding: 0; margin: 0;">
<img src="../../assets/images/competitionblock3.jpg" style="width: 100%; vertical-align: middle; padding: 0; margin: 0;">
<img src="../../assets/images/competitionblock4.jpg" style="width: 100%; vertical-align: middle; padding: 0; margin: 0;">
<img src="../../assets/images/competitionblock5.jpg" style="width: 100%; vertical-align: middle; padding: 0; margin: 0;">
-->



<app-artistheader></app-artistheader>




<div class="container-fluid competitionblock1">
  <div class="row no-gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 competitionblock1contentwrapper">
      <div class="competitionblock1content">
        <h1>AUDIO DEADLINE COMPETITIONS</h1>
        <h3>Vote for your Favorite Artists to Appear on Audio Deadline</h3>
        <p>The following competitions are currently running for artists that will be appearing on AudioDeadline.com’s next episode! They will an opportunity to be flown to Las Vegas, NV and work with our A-List Artist to create a new song. You can vote 5 times a day for any category of competition running. You can also invite people from your social network to come in and vote for your favorite artist as well!  Keep an eye on this page to see who is ahead! Competitions end 15 days before the AudioDesdline.com live streaming show and we will announce the winners right here!</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pageheaderblock">
  <div class="row no-gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>February  Audiodeadline.com Competition</h1>
    </div>
  </div>
</div>

<div class="container-fluid competitionblock2">
  <div class="row no-gutter">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 artistsexchangeleftdiv">
      <div class="sectionbody">
        <div class="row no-gutter sectionheaderinner col-container competitionblock competitionblocknew" *ngFor="let item of competitionlist">
          <!--<div class="container-fluid compnewblock2" [style.background]="getbgimg(item.image1)" style="background-size: cover; background-repeat: no-repeat;">-->
          <div class="container-fluid compnewblock2" [style.background-image]="getbgimg(item.image1)" [style.background-size]="'cover'" [style.background-repeat]="'no-repeat'"  [style.background-position]="'center'">
            <div class="compnewblock2wrapperimg">
              <img src="{{fileurl}}{{item.image2}}">
            </div>
            <div class="row compnewblock2contentwrapper">
              <div class="compnewblock2content">
                <h2>{{item.competitionname}}</h2>
                <h3>{{item.description | charlimit:400}}</h3>
                <h4>STARTS ON: <span>{{getDateT(item.startdate)}}</span> AND ENDS ON: <span>{{getDateT(item.startdate)}}</span>.</h4>
                <h5><a href="javascript:void(0);" class="btnpink" target="_blank">SIGN UP FOR COMPETITION</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 competitionrightdiv competitionrightdivtop">
      <!---Right Side Banner Start Block---->
      <div class="rightbannerdivwrapper">
        <div class="rightbannerdiv">
          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen6.jpg" alt="rightbannerdiv screen6"></div>
          </div>
          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen3.jpg" alt="rightbannerdiv screen3"></div>
          </div>
          <div class="rightbannerdivimg">
            <div class="rightbannerdivimgwrapper"><img src="../../assets/images/artistrightbannerdiv_screen9.jpg" alt="rightbannerdiv screen9"></div>
          </div>
        </div>
      </div>
      <!---Right Side Banner End Block---->
    </div>
  </div>
</div>


<app-artistfooter></app-artistfooter>

<ng-template #commingsoontemplate>
  <div class="modal-body text-center signupeamilbody">

    <button type="button" class="close" (click)="closep()">&times;</button>
    <img src="../../assets/images/artistheaderlogo.png" alt="logo">
    <p><span>This is currently a concept page to give you and idea of what the ArtistXP Experience is going to be all about. When we launch you will have access to these incredible features. <br><br>Get the ArtistXP Experience NOW!  <a style="cursor: pointer; width: 360px;" (click)="gotoSignUp()">Get back to Pre Launch Sign Up</a></span></p>

  </div>
</ng-template>
